*, *::before,*::after,*:before,*:after{
    box-sizing: border-box;
}

.wraper{
    margin:2rem;
    max-width: 980px;
}

header{
    font-family: 'Montserrat', sans-serif;

}

header h1{
    font-size: 3rem;
}

figure img{
    width: 40%;
}

cite{
    quotes: '"' '"';
}

cite:before{
    content: open-quote;
}
cite:after{
    content: close-quote;
}

li:nth-child(even){
    color:purple;
}

li:nth-child(odd){
    color:rgb(0, 153, 255);
}